* {
  margin: 0px;
  padding: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover {
  background-color: #111;
}

.login-container {
  float: right;
}

.login-container input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:150px;
}

#button1 {
  float: right;
  padding: 6px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 20px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#button1:hover {
  background: grey;
}

#form {
  padding: 15px;
}

#left {
    float: left;
    width: 30%;
}

#mid {
  float: left;
  width: 20%;
  text-align: center;
  border-left: 3px solid black;
  border-right: 3px solid black;
  height: 889px;
}

#right {
  float: right;
  width: 45%;
}

#forumDiv {
  height: 230px;
  width: 770px;
  border: 2px dotted black;
}

#headerLeft {
  float: left;
  width: 38%;
  border-right: 2px dotted black;
  border-bottom: 2px dotted black;
  text-align: center;
}

#headerRight {
  float: right;
  width: 38%;
  border-left: 2px dotted black;
  border-bottom: 2px dotted black;
  text-align: center;
}

#headerMid {
  float: left;
  width: 23%;
  border-bottom: 2px dotted black;
  text-align: center;
}

#forumMessage {
  margin: 10px;
  float: left;
  width: 97%;
  height: 75%; 
}

#accountLink {
  position: relative;
  float: right;
  color: blue;
  text-decoration-line: underline;
  margin: 10px;
  top: 1px;
  right: 5px;
  font-size: 20px;
}

