* {
  margin: 0px;
  padding: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover {
  background-color: #111;
}

.login-container {
  float: right;
}

.login-container input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:150px;
}

#forumDel input,textarea {
  padding: 5px;
  margin-top: 8px;
  font-size: 18px;
  width:300px;
}

#loginBtn {
  float: right;
  padding: 6px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 20px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#button1:hover {
  background: grey;
}

#form {
  padding: 15px;
}

#left {
    float: left;
    width: 30%;
}

#mid {
  float: left;
  width: 20%;
  text-align: center;
  border-left: 3px solid black;
  border-right: 3px solid black;
  height: 889px;
}

#right {
  float: right;
  width: 45%;
}

#forumDiv {
  height: 100px;
  width: 770px;
  border: 2px dotted black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#headerUser {
  float: left;
  width: 60%;
  height: 49%;
  border-bottom: 2px dotted black;
  border-right: 2px dotted black;
  text-align: left;
  font-size: 12px;
}

#headerTopic {
  float: left;
  width: 60%;
  height: 49%;
  border-right: 2px dotted black;
  text-align: left;
  font-size: 12px;
}

#postLink {
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  height: 100px;
  font-size: 50px;
  margin-left: 10px;
}

#accountLink {
  position: relative;
  float: right;
  color: white;
  text-decoration-line: underline;
  margin: 10px;
  top: 1px;
  right: 5px;
  font-size: 20px;
}

#createAccBtn {
  float: left;
  padding: 10px;
  margin-top: 30px;
  margin-left: 50px;
  background: orange;
  font-size: 55px;
  border: none;
  cursor: pointer;
  height: 200px;
  width: 350px;
}

#postBtn {
  float: left;
  padding: 10px;
  margin-top: 10px;
  background: orange;
  font-size: 20px;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 100px;
}

.label1 {
  font-size: 25px;
}

.genderXD {
  margin-left: 30px;
  margin-top: 5px;
  height: 1cm;
  width: 1cm;
  cursor: pointer;
  vertical-align: middle;
}

#pageView {
  float: left;
  margin: 10px;
  font-size: 25px;
  color: black;
  border: 1px solid black;
  border-color: black;
}